.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body {
  background: linear-gradient(180deg, #48f9ee, #008a81) no-repeat;
} */

html,
body {
  height: 100%;
}
